* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  width: 100vw;
  height: 99vh;
}

.background-img {
  display: flex;
  justify-content: right;
  position: relative;

  width: 1920px;
  height: 1048px;

  background-image: url(../assets/scene.jpg);

}

.boneco {
  display: flex;

  position: absolute;
  height: 100px;
}